# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
*.env

# Django
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc
*.mo
/staticfiles/
media/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Node (if you use npm for frontend or scripts)
node_modules/
dist//
build/